/_build/
/deps/
/.nerves/
/doc/
*.ez
*.tar.gz
erl_crash.dump
/ci/fixtures/*/_build/
/ci/fixtures/*/deps/
/ci/fixtures/*/.nerves/
/ci/fixtures/*/mix.lock
/ci/fixtures/*/priv/*.so
__pycache__/
/ci/fixtures/system/bases/*.json
